.App{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.wrapper{
  width: 100%;
  background-color: rgb(59, 61, 102);
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.weather-info{
  display: flex;
  flex-direction: column;
  margin: 25px 50px;

}
.search-section{
  width: 100%;
  height: 100px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;

  color: white;
}
.search-input{
  width: 500px;
  height: 40px;
  border: none;
  border-radius: 7px;
  margin: 0 10px;
  font-size: 24px;
  padding-left: 20px;
  background-color: rgb(236, 216, 255);
}
.search-input::placeholder{
  align-items: center;

}
.search-btn{
  width: 100px;
  height: 40px;
  margin: 0 10px;
  border: none;
  border-radius: 7px;
  font-size: 24px;
  background-color: rgb(236, 216, 255);
}
.weather-card{
  width: 90%;
  background-color: rgba(203, 180, 223, 0.311);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 48px;
  border-radius: 20px;
  line-height: 0.3;
  margin: 20px;
  padding: 0 20px;
  margin: 30px 20px;
}
.forecasts-section{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.forecast-div{
  background: white;
  width: 200px;
  margin: 10px;
  padding: 10px 20px;
  background-color: rgba(203, 180, 223, 0.311);
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
}
.forecast-div h5{
  font-size: 28px;
  line-height: 0.5;
  font-weight: 600;
}
.forecast-div span {
  font-size: 24px;
}
.forecast-div p {
  font-size: 21px;
}